engine-strict=true

prefer-offline=false
read-registry=true
resolution-mode=highest
auto-install-peers=true
strict-peer-dependencies=true
lockfile-only=false
verify-store-integrity=true

audit=true
audit-level=moderate

ignore-scripts=false
strict-ssl=true
unsafe-perm=false
registry=https://registry.npmjs.org/

fetch-timeout=60000
fetch-retries=3
fetch-retry-mintimeout=10000
fetch-retry-maxtimeout=60000
